@font-face {
  font-family: 'Movie Times';
  src:url('MovieTimes.ttf');
}

html {
  width:100vw;
  overflow-x:hidden;
}

.reveal-overlay {
  overflow-y: hidden;
}

h1, p {
  margin: 0px
}

body {
  overflow: hidden;
  background-image: url(/assets/film-large.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#main{
  z-index: 1006 !important;
}

.reveal-overlay {
  z-index: 1 !important;
}

.content {
  width: 90%;
  margin: auto;
}

.inline {
  display: inline-block;
}

/*Index page*/

.content-box {
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 20px;
  border-radius: 10px;
  border-style: solid;
  border-color: black;
}

.index-search-bar {
  font-family: 'Movie Times';
  font-size: 30px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #DCD0D2;
  margin-top: 20px;
  border-radius: 10px;
  padding-top: 13px;
}

.index-search-bar:focus{
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}

.search-button {
  font-family: 'Raleway', sans-serif;
  margin-top: 20px;
  background-color: #262626;
  border-color: #CACACA;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}

.search-button:hover {
  background-color: #C8C8C8;
  border: 1px solid grey;
  color: black;
}

.index-list {
  padding: 20px;
  /*background-color: black;*/
}

.user-search-bar {
  width: 525px
}

.movieList-filler {
  height: 300px;
}

.account-dropdown {
  border-style: none;
}

.account-dropdown * {
  margin-top: -10px;
}

.show-page {
  /*background-color: rgba(0, 0, 0, 0.7);*/
  border-color: black;
  border-style: solid;
  border-width: 3px;
  border-radius: 5px;
  margin-top: 20px;
  color: white;
  padding: 20px;
}

.show-page h1 {
  text-align: center;
}

.show-page * {
  font-family: 'Raleway', sans-serif;
}

.show-page img {
  float: right;
}

.movie-show-text {
  text-align: left;
  font-family: 'Raleway', sans-serif;
}

.movie-show-text .overview {
  text-align: justify;
  font-family: 'Raleway', sans-serif;
}

.back-button-box {
  text-align: left;
  font-family: 'Raleway', sans-serif;
}

.show-page a:hover {
  font-weight: bold;
  text-decoration: underline;
}

.show-page img {
  border-style: solid;
  border-width: 3px;
  border-color: black;
  border-radius: 5px;
}

#white-back {
  color: white;
}

#black-back {
  color: black;
}
