.index-box {
  /*height: 445px;*/
  /*border-style: solid;
  border-width: 3px;
  border-color: black;*/
  /*overflow: hidden;*/
}

.inner-movie-box {
  margin-top: 10px;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  border-radius: 10px;
  overflow: hidden;
  padding: 10px;
  height: 460px;
}

.inner-movie-box * {
  font-family: 'Raleway', sans-serif;
}

.button-stretch {
  width: 100%;
}

.button-quarter-stretch {
  width: 25%;
}

.title-image {
  margin-top: 10px;
  /*margin-bottom: 10px;*/
  height: 240px;
  overflow: hidden;
}

.inner-movie-box img {
  border-style: solid;
  border-width: 3px;
  border-color: black;
  border-radius: 5px;
}

.movie-box-header {
  font-family: 'Raleway', sans-serif;
  /*font-weight: bold;*/
  font-size: 26px;
  text-align: center;
  border-style: solid;
  border-width: 3px;
  border-radius: 5px;
  margin-top: 10px;
}


.gray, .red, .blue, .green {
  color: white;
  font-weight: bold;
  text-align: center;
}

.white {
  font-weight: bold;
  text-align: center;
}

.inner-movie-box button {
  color: black;
  padding: 10px;
  /*background-color: #F8F3F7;*/
  background: #E0E0E0; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #868686, #E0E0E0); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #868686, #E0E0E0); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #868686, #E0E0E0); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #868686, #E0E0E0); /* Standard syntax */
  border-color: black;
  border-style: groove;
  border-width: 3px;
  border-radius: 5px;
}

.showButton:hover, .deleteButton:hover {
  background: #868686; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #E0E0E0, #868686); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #E0E0E0, #868686); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #E0E0E0, #868686); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #E0E0E0, #868686); /* Standard syntax */
}

.wantButton:hover {
  color: white;
  background: #2E6E99; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #2E6E99, #142F42); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #2E6E99, #142F42); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #2E6E99, #142F42); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #2E6E99, #142F42); /* Standard syntax */
}

.addButton:hover {
  color: white;
  background: #5A5B5B; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #5A5B5B, #272727); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #5A5B5B, #272727); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #5A5B5B, #272727); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #5A5B5B, #272727); /* Standard syntax */
}

.likeButton:hover {
  color: white;
  background: #489E66; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #489E66, #1F442C); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #489E66, #1F442C); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #489E66, #1F442C); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #489E66, #1F442C); /* Standard syntax */
}

.dislikeButton:hover {
  color: white;
  background: #A34545; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #A34545, #461E1E); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #A34545, #461E1E); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #A34545, #461E1E); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #A34545, #461E1E); /* Standard syntax */
}


.movie-box-header * {
  margin: 0px;
}

.seen-header {
  border-color: #5A5B5B;
  color: #5A5B5B;
}

.want-header {
  border-color: #2E6E99;
  color: #2E6E99;
}

.like-header {
  border-color: #489E66;
  color: #489E66;
}

.dislike-header {
  border-color: #A34545;
  color: #A34545;
}

.gray {
  /*background-color: #8D8E8E;*/
  background-color: rgba(39,39,39, 0.9);
}

.blue {
  /*background-color: #48ACF0;*/
  background-color: rgba(20,47,66, 0.9);
}

.green {
  /*background-color: #71F79F;*/
  background-color: rgba(31,68,44, 0.9);
}

.red {
  /*background-color: #FF6B6B;*/
  background-color: rgba(70,30,30, 0.9);
}

.white {
  /*background-color: white;*/
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
}
