/* Nav Bar */
.top-bar-spacer {
  height: 76px;
}

@media (max-width: 949px) {
  .top-bar-spacer {
    height: 145px;
  }
}
@media (max-width: 640px) {
  .top-bar-spacer {
    height: 110px;
  }
}

.top-bar {
  padding: 0px 8px 0px 8px;
  font-family: 'Movie Times';
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: fixed;
  z-index: 1000;
  background: -webkit-linear-gradient(left,rgba(0,0,0, 0.7), rgba(0,0,0, 0.3), rgba(0,0,0, 0.7)), url(/assets/film-large.jpeg);
  /* For Opera 11.1 to 12.0 */
  background: -o-linear-gradient(left,rgba(0,0,0, 0.7), rgba(0,0,0, 0.3), rgba(0,0,0, 0.7)), url(/assets/film-large.jpeg);
  /* For Fx 3.6 to 15 */
  background: -moz-linear-gradient(left,rgba(0,0,0, 0.7), rgba(0,0,0, 0.3), rgba(0,0,0, 0.7)), url(/assets/film-large.jpeg);
  /* Standard syntax */
  background: linear-gradient(to right, rgba(0,0,0, 0.7), rgba(0,0,0, 0.3), rgba(0,0,0, 0.7)), url(/assets/film-large.jpeg);
  background-size: 100%;
}

.menu-text {
  padding: 0px 16px 0px 0px;
}

.menu-text a {
  font-family: 'Movie Times';
  color: black;
}

.menu-text a:hover {
  color: #DCD0D2;
}

.menu-text h1 {
  margin-top: 7px;
}

.top-bar {
  font-size: 30px;
  border-bottom: solid;
  border-color: black;
}

.top-bar ul {
  background-color: transparent;
}

.account-menu-button {
  padding-left: 30px !important;
  padding-right: 30px !important;
}
