/* Nav Bar */
.top-bar-spacer {
  height: 76px;
}

@media (max-width: 949px) {
  .top-bar-spacer {
    height: 145px;
  }
}
@media (max-width: 640px) {
  .top-bar-spacer {
    height: 110px;
  }
}

.top-bar {
  padding: 0px 8px 0px 8px;
  font-family: 'Movie Times';
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: fixed;
  z-index: 10;
  background: rgba(0,0,0, 0.5), rgba(0,0,0, 0.5), rgba(0,0,0, 0.5), url(/assets/film-large.jpeg);
  /* For Opera 11.1 to 12.0 */
  background: -o-linear-gradient(left,rgba(0,0,0, 0.5), rgba(0,0,0, 0.5), rgba(0,0,0, 0.5)), url(/assets/film-large.jpeg);
  /* For Fx 3.6 to 15 */
  background: -moz-linear-gradient(left,rgba(0,0,0, 0.5), rgba(0,0,0, 0.5), rgba(0,0,0, 0.5)), url(/assets/film-large.jpeg);
  /* Standard syntax */
  background: linear-gradient(to right, rgba(0,0,0, 0.5), rgba(0,0,0, 0.5), rgba(0,0,0, 0.5)), url(/assets/film-large.jpeg);
  background-size: 100%;
}

.top-bar-right a {
  margin-top: 10px;
  color: black;
  border-radius: 10px;
  border-style: solid;
  border-color: black;
  margin-right: 20px;
  background: #E0E0E0; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #868686, #E0E0E0); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #868686, #E0E0E0); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #868686, #E0E0E0); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #868686, #E0E0E0); /* Standard syntax */
}

.top-bar-right a:hover {
  background: #868686; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #E0E0E0, #868686); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #E0E0E0, #868686); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #E0E0E0, #868686); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #E0E0E0, #868686); /* Standard syntax */
}


.menu-text {
  padding: 0px 16px 0px 0px;
}

.menu-text a {
  font-family: 'Movie Times';
  color: black;
}

.menu-text a:hover {
  /*color: #DCD0D2;*/
  text-shadow: 1px 1px 0px #ededed, 4px 4px 0px rgba(0,0,0,0.15);
}

.menu-text h1 {
  margin-top: 7px;
}

.top-bar {
  font-size: 30px;
  border-bottom: solid;
  border-color: black;
}

.top-bar ul {
  background-color: transparent;
}

.account-menu-button {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.profile-photo {
  margin-top: 10px;
  height: 55px;
  width: 55px;
  border-radius: 10px;
  border-style: solid;
  border-color: black;
  border-width: 3px;
}

.user-box {
  text-align: center;
}

.user-search-box {
  /*background-color: #7A7779;*/
  background-color: rgba(122, 119, 121, 0.9);
  margin-top: 20px;
  border-radius: 10px;
  border-style: solid;
  border-color: black;
  border-width: 3px;
  text-align: center;
}

.user-search-box * {
  font-family: 'Raleway', sans-serif;
}

.user-search-box input {
  background-color: #252425;
  color: white;
  margin-left: 20px;
}

.user-search-box input:focus {
  background-color: #252425;
  color: white;
}

.user-search-box a {
  color: black;
}

.user-search-box a:hover {
  color: white;
  text-decoration: underline;
  font-weight: bold;
}

.close-button {
  color: black;
}

.close-button:hover {
  color: white;
}

.reveal-overlay {
  background-color: rgba(255, 255, 255, 0.75)
}

.hover-hand {
  cursor: pointer;
}
